NODE_ENV=development
PORT=3000
ENVIRONMENT=development
DATABASE_NAME=SPLSys
DATABASE_URL=Server=tcp:splsys.database.windows.net,1433;Initial Catalog=SPLSys;Persist Security Info=False;User ID=AdminSplsys;Password=Panama2022$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;
KEY_VAULT_NAME=msdocs-key-vault-123 
KEY_VAULT_SECRET_NAME_DATABASE_URL=DATABASE-URL 
AZURE_TENANT_ID= 
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=