*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.header1 {
    background-color: #1363DF;
    display: flex;
    justify-content: space-around;
}
 a,li{
    color: white;
    text-decoration: none;
    list-style: none;
    
}

header

.header2 {
    background-color: #06283D;

}
.header-title {
  margin-top: 10px;
  height: 60px;
  color: #ffcb3d;
}

.header2-ul {
    justify-content: center;
    font-size: 1.5rem;
    padding: 20px;
    display: flex;
    gap: 10%;
}

.banner {
    background: url("../img/banner.jpg");
    background-size: cover;
    position: relative;
    padding-top: 15%;
}

.main-services {
    padding-top: 40px;
    background-color: #1363DF;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-title {
    font-size: 20px;
    padding-bottom: 30px;
    color: white;
}
.services-items {  
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 50px;
    justify-content: center;
    padding-bottom: 80px;
}

.services-items img {
  cursor: pointer;
    border-radius: 5px;
    width: 150px;
}

.main {
  width: 100%;
  display: flex;
flex-direction: column;
}

.service-title {
  align-self: center;
  width: 90%;
  margin-top: 20px;
  padding-bottom: 5px;
  margin-bottom: 10px; 
  border-bottom: 1px solid #d1d1d1;
}

.service-title img {
  margin-left:16.7%;
  width: 150px;
}

.service-data {
  margin-top: 0px;
  align-self: center;
  --background-color: aqua;
  width: 60%;
}

.service-progress {
  display: flex;
  justify-content: center;
  width: 80;
}


.progress {
  font-size: 1rem;
  text-align: center;
  width: 34%;
  padding: 20px;
  font-weight: 600;
}

.none {
  text-align: center;
  color: rgb(29, 29, 29);
  background-color: rgb(218, 218, 218);
}
.select {
  font-weight: bold;
  color: aliceblue;
  background-color: #06283D;
}

.service-form {
  margin-bottom: 13vh;
}

.form-title {
  font-size: 1.5rem;
}

.form-input {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
label {
  font-size: 1rem;
  font-weight: bold;
}

.form-input input[type=text] {
  padding-left: 10px;
  border-style: none;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 1rem;
  width: 400px;
  height: 40px;
  background-color: rgb(245, 245, 245);
}

.white {
  background-color: white !important;
}

.cursor {
  cursor: pointer;
}

.balance-input{
  padding-left: 0px !important;
  text-align: center;
  width: 150px !important;
  
}
.pay-input{
  padding-left: 0px !important;
  text-align: center;
  width: 150px !important;
  background-color: white !important;
}

.btn{
	width: 200px;
	height: 50px;
	border-radius: 5px;
	outline: none;
	border: none;
  background-color: #06283D;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	margin: 1rem 0;
	cursor: pointer;
}

.form-btn{
  gap: 10px;
  display: flex;
  margin-bottom: 95px;
}


.btn:hover {
  background-color: #093753;

}

.paypal-btn{
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  padding: 5px;
  color: white;
  border-radius: 5px;
  background-color: #fac20b;
  border-style: none;
  width: 300px;  
  height: 50px;
  gap: 5px;
  margin: 1rem 0;  
}

.paypal-btn:hover {
  background-color: #e6b104;
}

.yappy-btn{
  gap: 10px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  padding: 5px;
  color: white;
  border-radius: 5px;
  background-color: rgb(53, 83, 250);
  border-style: none;
  width: 300px;
  margin: 1rem 0;
  height: 50px;
}

span:nth-child(2) {
  color: #FF7D23;
  font-weight: 500;
}

.flex2 {
  display: flex;
}

.hidden {
  display: none;
}

.paypal-button-title {
  color: black;
}

.alert {
  font-weight: 600;
  height: 20px;
  color: red;
}

.blue{
  color: #001aff;
  font-weight: 700;
}
.celest{
  font-weight: 600;
  color: #23d3ff;
  font-weight: 700;
}

.green {
  margin-top: 20px;
  color: green;
}

.hidden {
  display: none;
}

table {
  margin-top: 10px;
  margin-bottom: 20px;
}

th, td {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 35px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#contenedor{ 
place-content: center;
height: 17vh;
color: #000;
}
.cargando{ 
position: relative; 
color: #FFF;
margin-top: 2em;
letter-spacing: 0.08em;
text-transform: uppercase
}

.rueda {
border: 10px solid rgba(255, 255, 255, .3);
border-radius: 50%;
border-left-color: transparent;
width: 80px;
height: 80px;
animation: giro 1s linear infinite;
}

@keyframes giro {
0% {
transform: rotate(0deg);
}

100% {
transform: rotate(360deg);
}
}

@media screen and (max-width: 1800px){
	
  .main-services {
    padding-bottom: 1%;
  }
}

@media screen and (max-width: 1600px){
	
  .main-services {
    padding-bottom: 3%;
  }
}

@media screen and (max-width: 1400px){
	
    .main-services {
      padding-bottom: 90px;
    }
}

@media screen and (max-width: 1140px){
	
    .main-services {
      padding-bottom: 45px;
    }
}

@media screen and (max-width: 900px){
	.banner {
        width: 100%;
        height: 100px;
    }

    .service-data {
      width: 420px !important;
    }

    .form-input input[type="text"]{
      width: 100%;
    }

    .form-btn {
      align-items: center;
      flex-direction: column;
    }

    .main-services {
      padding-bottom: 10px;
    }
}

.footer-basic {
    padding : 25px 0;
    background-color: #06283D;
    color: white;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
 
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    margin-bottom:0;
  }

  .list-inline {
    display: flex;
    justify-content: center;
    
  }

 